
@model IEnumerable<UniversityAutomate.Models.UniversityDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.UniversityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groups)
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            <a asp-action="Details" asp-route-universityName="@item.UniversityName">Details</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniversityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityName)
        </td>
        <td>
            
            <a class="list-group-item" asp-controller="GroupDTOes" asp-action="Index" asp-route-universityName="@item.UniversityName">
                @Html.DisplayNameFor(model => model.Groups)
            </a>
        </td>
    </tr>
}
    </tbody>
</table>
