@model IEnumerable<UniversityAutomate.Models.CityDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-cityName="@item.CityName">Details</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                <a class="list-group-item" asp-controller="UniversityDTOes" asp-action="Index" asp-route-cityName="@item.CityName">
                    @Html.DisplayNameFor(model => model.Universities)
                </a>
            </td>
            <td>
                <a class="list-group-item" asp-controller="StudentDTOes" asp-action="Index" asp-route-cityName="@item.CityName">
                    @Html.DisplayNameFor(model => model.Students)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
