@model IEnumerable<UniversityAutomate.Models.CityDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-cityName="@item.CityName">Details</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
            <ul class="list-group">
                @foreach (var university in item.Universities)
                {
                    <li class="list-group-item">
                    <a class="dropdown-item" asp-controller="UniversityDTOes" asp-action="Details"
                    asp-route-cityName="@item.CityName" asp-route-universityName="@university.UniversityName">
                        @Html.DisplayFor(modelItem => university.UniversityName)
                    </a></li>
                }
            </ul>
            </td>
            <td>
            <ul class="list-group">
                @foreach (var student in item.Students)
                {
                    <li class="list-group-item">
                    <a class="dropdown-item" asp-controller="UniversityDTOes" asp-action="Details"
                    asp-route-cityName="@item.CityName">
                        @Html.DisplayFor(modelItem => student.StudentName)
                    </a></li>
                }
                </ul>
            </td>
        </tr>
}
    </tbody>
</table>
