@model GroupDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
 <div class ="row d-flex">
        <div class ="col">
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniversityName)
        </dd>
    </dl>
    </div>

    <div class ="col">
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd>
            <ul class="list-group">
            @foreach (var student in Model.Students)
            {
                <a class="list-group-item" asp-controller="" asp-action="Details"
                   asp-route-universityName="@Model.UniversityName"
                   asp-route-groupName="@Model.GroupName"
                   asp-route-studentName="@student.StudentName">
                    @Html.DisplayFor(modelItem => student.StudentName)
                </a>
            }
            </ul>
        </dd>

    </dl>
    </div>

    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
